---
layout: default
has_carousel: true
redirect_from:
  - /about/
---

{% assign resume_items = site.posts | where: "category","resume" %}
{% for resume_item in resume_items %}
  <article class="card card-bottom row" role="article">
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="col-sm-8 {% if thecycle == 'even' %}order-sm-2{% endif %}">
      <h2>{{ resume_item.title }}</h2>
      {{ resume_item.content }}
    </div>
    <div class="col-sm-4 {% if thecycle == 'even' %}order-sm-1{% endif %}">
      <amp-img
        alt="{{ resume_item.alt }}"
        width="350"
        height="350"
        layout="responsive"
        noloading
        src="/images/resume/{{ resume_item.webp }}"
      >
        <amp-img
          alt="{{ resume_item.alt }}"
          fallback
          width="350"
          height="350"
          layout="responsive"
          noloading
          src="/images/resume/{{ resume_item.image }}"
        ></amp-img>
      </amp-img>
    </div>
  </article>
{% endfor %}
