---
layout: default
has_carousel: false
redirect_from:
  - /index/
---

{% assign featurettes = site.posts | where: "category","featurette" %}
{% for featurette in featurettes %}
  <article class="card card-bottom row" role="article">
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="col-sm-8 {% if thecycle == 'even' %}order-sm-2{% endif %}">
      <h2>{{ featurette.title }}</h2>
      {{ featurette.content }}
    </div>
    <div class="col-sm-4 {% if thecycle == 'even' %}order-sm-1{% endif %}">
      <amp-img
        alt="{{ featurette.alt }}"
        width="350"
        height="350"
        layout="responsive"
        noloading
        src="/images/featurettes/{{ featurette.webp }}"
      >
        <amp-img
          alt="{{ featurette.alt }}"
          fallback
          width="350"
          height="350"
          layout="responsive"
          noloading
          src="/images/featurettes/{{ featurette.image }}"
        ></amp-img>
      </amp-img>
    </div>
  </article>
{% endfor %}
