<footer class="row">
  <div id="footer_toolbar" class="center"></div>
</footer>

<amp-sidebar id="footer_menu" layout="nodisplay">
  <nav toolbar="(min-width: 0px)" toolbar-target="footer_toolbar">
    <ul>
      <li>
        <a
          href="{{ site.stackexchange.link }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.stackexchange.alt }}"
        >
          <amp-img
            alt="{{ site.stackexchange.alt }}"
            width="30"
            height="40"
            layout="fixed"
            src="/images/icons/stack-overflow.svg"
          >
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/{{ site.linkedin_url }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s LinkedIn Profile"
        >
          <amp-img
            alt="{{ site.author }}'s LinkedIn Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/linkedin.svg"
          >
        </a>
      </li>
      <li>
        <a
          href="https://github.com/{{ site.github_username }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s GitHub Profile"
        >
          <amp-img
            alt="{{ site.author }}'s GitHub Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/github-square.svg"
          >
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/{{ site.twitter_username }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s Twitter Profile"
        >
          <amp-img
            alt="{{ site.author }}'s Twitter Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/twitter-square.svg"
          >
        </a>
      </li>
      <li>
        <a
          href="#page_top"
          on="tap:page_top.scrollTo"
          aria-label="Back to top"
        >
          <amp-img
            alt="Back to top"
            width="40"
            height="40"
            layout="fixed"
            src="/images/icons/arrow-circle-up.svg"
          >
        </a>
      </li>
      <li>
        <a
          href="{{ site.source_repository }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="The site's source code repository"
        >
          <amp-img
            alt="The site's source code repository"
            width="50"
            height="40"
            layout="fixed"
            src="/images/icons/code.svg"
          >
        </a>
      </li>
    </ul>
  </nav>
</amp-sidebar>
