<head>
  <meta charset="utf-8">

  {% comment %}
  <META HTTP-EQUIV="X-XSS-Protection" CONTENT="1; mode=block">
  <META HTTP-EQUIV="Content-Security-Policy" CONTENT="default-src 'self' data: https://c.disquscdn.com https://disquscdn.com https://csaba.disqus.com https://csabadisqus.github.io https://referrer.disqus.com https://cdn.ampproject.org https://www.google.com https://csaba-page.cdn.ampproject.org https://fonts.gstatic.com https://www.googletagmanager.com https://raw.githubusercontent.com https://www.google-analytics.com 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: https://stackexchange.com https://raw.githubusercontent.com https://www.google-analytics.com https://www.googletagmanager.com;">
  <META HTTP-EQUIV="X-Content-Type-Options" CONTENT="nosniff">
  <META HTTP-EQUIV="Strict-Transport-Security" CONTENT="max-age=31536000; includeSubDomains">
  <META HTTP-EQUIV="Referrer-Policy" CONTENT="no-referrer-when-downgrade">
  <META HTTP-EQUIV="Feature-Policy" CONTENT="nosniff">
  <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="*">
  {% endcomment %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | strip_newlines }}">
  <meta name="author" content="{{ site.author | strip_newlines }}">
  <meta name="google-site-verification" content="JM3Tdi1mUg3ClVcPVOsCSMHptAAYcgyIWONS-jfK--4" />

  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js" crossorigin="anonymous">
  <link rel="preload" as="font" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" type="font/woff2" crossorigin="anonymous">

  <script async src="https://cdn.ampproject.org/v0.js" crossorigin="anonymous"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js" crossorigin="anonymous"></script>
  <script async custom-element="amp-consent" src="https://cdn.ampproject.org/v0/amp-consent-0.1.js" crossorigin="anonymous"></script>
  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" crossorigin="anonymous"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" crossorigin="anonymous"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" crossorigin="anonymous"></script>
  {% if page.comments %}
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js" crossorigin="anonymous"></script>
  {% endif %}
  {% if page.has_carousel %}
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js" crossorigin="anonymous"></script>
  {% endif %}
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js" crossorigin="anonymous"></script>

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">
  <meta name="theme-color" content="#b8f3f9">
  
  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
    {% if page.has_code %}
      {% include code.css %}
    {% endif %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <script type="application/ld+json">{% include metadata.json %}</script>

  {% include open_graph_meta.html %}

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
