<header
  {% if page.has_carousel %}
    class="row"
  {% else %}
    class="row header-margin-bottom"
  {% endif %}
  >
  <button
    type="button"
    id="hamburger"
    on="tap:sidebar_menu.toggle"
    class="btn--raised btn--pink"
  >
    <amp-img
      alt="Sidebar open icon"
      width="40"
      height="40"
      layout="fixed"
      src="/images/icons/menu.svg"
    >
  </button>
  <a
    id="brand" 
    href="/"
    aria-label="Home"
  >
    <amp-img
      alt="Site logo"
      id="logo"
      width="{{ site.logo.native_width }}"
      height="{{ site.logo.native_height }}"
      layout="responsive"
      src="{{ site.logo.link }}"
    >
  </a>
  <div id="menu_toolbar" class="center"></div>
  <button
    type="button"
    id="magnifier"
    on="tap:search_menu.toggle"
    class="btn--raised btn--pink"
  >
    <amp-img
      alt="Search menu icon"
      width="40"
      height="40"
      layout="fixed"
      src="/images/icons/search.svg"
    >
  </button>
  <div id="search_toolbar" class="right"></div>
</header>

<amp-sidebar id="sidebar_menu" layout="nodisplay">
  <h2>
    <button
      id="menu_close"
      type="button"
      on="tap:sidebar_menu.close"
      class="btn--raised btn--pink"
      aria-label="Close the sidebar"
    >
      <amp-img
        alt="Sidebar close icon"
        width="40"
        height="40"
        layout="fixed"
        src="/images/icons/close.svg"
      >
    </button>
  </h2>
  <nav toolbar="(min-width: 576px)" toolbar-target="menu_toolbar" role="navigation">
    <ul class="center-align align-items-flex-end">
      <li class="d-none d-lg-block">
        <a
          href="{{ site.stackexchange.link }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.stackexchange.alt }}"
        >
          <amp-img
            alt="{{ site.stackexchange.alt }}"
            width="{{ site.stackexchange.width }}"
            height="{{ site.stackexchange.height }}"
            layout="fixed"
            src="{{ site.stackexchange.flair }}"
          >
        </a>
      </li>
      {% assign links = site.data.navigation %}
      {% for link in links %}
        <li {% if link.url == 'index' %}class="d-none d-md-block"{% endif %}>
          <a href="/{% if link.url != 'index' %}{{ link.url }}{% endif %}">{{ link.title }}</a>
        </li>
      {% endfor %}
      <li class="d-none d-sm-block">
        <a
          href="https://www.linkedin.com/{{ site.linkedin_url }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s LinkedIn Profile"
        >
          <amp-img
            alt="{{ site.author }}'s LinkedIn Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/linkedin.svg"
          >
        </a>
      </li>
      <li class="d-none d-md-block">
        <a
          href="https://github.com/{{ site.github_username }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s GitHub Profile"
        >
          <amp-img
            alt="{{ site.author }}'s GitHub Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/github-square.svg"
          >
        </a>
      </li>
      <li class="d-none d-sm-block">
        <a
          href="https://twitter.com/{{ site.twitter_username }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ site.author }}'s Twitter Profile"
        >
          <amp-img
            alt="{{ site.author }}'s Twitter Profile"
            width="35"
            height="40"
            layout="fixed"
            src="/images/icons/twitter-square.svg"
          >
        </a>
      </li>
    </ul>
  </nav>
  <ul class="center-align">
    <li>
      <li>
        <a
          href="#page_top"
          on="tap:page_top.scrollTo"
          aria-label="Back to top"
        >
          <amp-img
            alt="Back to top"
            width="40"
            height="40"
            layout="fixed"
            src="/images/icons/arrow-circle-up.svg"
          >
        </a>
      </li>
    </li>
  </ul>
</amp-sidebar>

<amp-sidebar
  id="search_menu"
  layout="nodisplay"
  side="right"
>
  <h2>
    <button
      id="search_close"
      type="button"
      on="tap:search_menu.close"
      class="btn--raised btn--pink btn--close"
      aria-label="Close the search bar"
    >
      <amp-img
        alt="Sidebar close icon"
        width="40"
        height="40"
        layout="fixed"
        src="/images/icons/close.svg"
      >
    </button>
  </h2>
  <ul>
    <li>
      <form method="GET" class="center-align card" action="https://www.google.com/cse" target="_top">
        <input name="cx" type="hidden" value="013535696182405026577:kmxne16xdtx" />
        <input name="ie" type="hidden" value="UTF-8" />
        <input type="search" placeholder="Search phrase..." name="q" id="q" required>
        <button
          type="submit"
          id="search"
          class="btn--raised btn--pink"
        >
          <amp-img
            alt="Search action icon"
            width="40"
            height="40"
            layout="fixed"
            src="/images/icons/search.svg"
          >
        </button>
      </form>
    </li>
  </ul>
</amp-sidebar>
