  <!-- Open Graph meta tags to help social media embedding -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:image" content="{{ site.portrait | absolute_url }}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{% if page.teaser %}{{ page.teaser }}{% else %}{{ site.description }}{% endif %}">
  <meta property="article:publisher" content="https://www.twitter.com/{{ site.twitter_username }}" />
  <meta property="article:author" content="https://www.twitter.com/{{ site.twitter_username }}" />
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.teaser %}{{ page.teaser }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:card" content="summary">
