$color-prpl: #5c2c91;
$color-pink: #be9ff3;
$color-light-pink: #cdb5f5;
$color-lighter-pink: #dccbf8;
$edit-width: 280px;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"),
    url("/fonts/roboto-300.woff") format("woff"),
    url("/fonts/roboto-300.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"),
    url("/fonts/roboto-400.woff") format("woff"),
    url("/fonts/roboto-400.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2"),
    url("/fonts/roboto-500.woff") format("woff"),
    url("/fonts/roboto-500.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2"),
    url("/fonts/roboto-700.woff") format("woff"),
    url("/fonts/roboto-700.ttf") format("truetype");
}

p > em,
li > em {
  color: $color-prpl;
}

#sidebar_menu,
#search_menu {
  background-color: $color-prpl;
}
#search_menu {
  padding-left: 0;
  padding-right: 0;
}
#sidebar_menu,
#search_menu > ul {
  padding-right: 20px;
}
#sidebar_menu > h2,
#search_menu > h2 {
    color: #fff;
}
#search_menu > h2 {
  text-align: right;
}
#sidebar_menu > h2 > button,
#search_menu > h2 > button {
    font-size: 34px;
}
#sidebar_menu > nav > ul > li > a,
#sidebar_menu > ul > li > a {
  font-size: 34px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}

#menu_toolbar > nav > ul > li {
  margin: 10px;
}
#menu_toolbar > nav > ul > li > a {
  font-size: 34px;
  padding-left: 5px;
  padding-right: 5px;
}
nav > ul > li,
nav > ul > li > a {
  color: #fff;
}

header > button,
#hamburger,
#magnifier {
  font-size: 40px;
  position: fixed;
  padding: 2px 5px 0 5px;
  top: 0;
}

#hamburger {
  left: 0;
}

#magnifier {
  right: 0;
}

#brand {
  margin-left: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

#logo {
  min-width: 64px;
  min-height: 64px;
}

#menu_close,
#search_close {
  padding: 5px 11px;
}

#footer_toolbar > nav > ul > li {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

#footer_toolbar > nav > ul > li > a {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 45px;
}

#reject {
  float: right;
}

#search {
  padding: 8px 10px;
}

body, html {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #CAF3F8;
  line-height: 130%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, kbd, label, legend,
nav > li, amp-sidebar > li, mark, menu, nav, object,
nav > ol, amp-sidebar > ol, output, p, pre, q, ruby, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u,
nav > ul, amp-sidebar > ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.table-header, tr {
   line-height: 24px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:after, &:before {
    content: '';
    content: none;
  }
}

q {
  &:after, &:before {
    content: '';
    content: none;
  }
}

button {
  border: none;
  cursor: pointer;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 20px;
  background: #fff;
}

.tile {
  padding: 20px;
  background: #fff;
}

a, aside, body, div, h1, h2, h3, h4, h5, h6, header, input, label, menu, p {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .8em;
  line-height: 130%;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24.8px;
}

h5 {
  font-size: 20.8px;
}

h6 {
  font-size: 18px;
}

a, p {
  font-size: 16px;
}

.subtitle {
  font-style: italic;
  color: #919191;
}

a {
  &:not([class^=btn]) {
    background: linear-gradient(to top, rgba(190, 159, 243, 0.8) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 100% 200%;
    background-position: 0 10%;
    background-repeat: no-repeat;
    text-decoration: none;
    color: inherit;
    transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    will-change: background-position;

    &:active {
      color: inherit;
    }

    &:hover {
      background-position: 0 100%;
    }
  }

  &[class^=btn] {
    text-decoration: none;
  }
}

[class^=btn] {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background-color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  will-change: background-size,background-image;
  padding: 10px 20px;
  display: inline-block;
  font-family: "Roboto";
  border: 0;

  &:after {
    position: absolute;
    content: '';
    transition: none;
    background: radial-gradient(circle, #fff 95%, transparent 95%);
    background-size: .7%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &:focus {
    outline: 0;
    background-size: 1000%;
    transition: all 1s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
}

.btn--float {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle, #ffeb3b 1%, #fff388 15%, transparent 30%);
  background-color: #ffeb3b;
  will-change: box-shadow,background-color;
  font-size: 22px;
  padding: 0;

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.13);
    background-color: #fe5;
  }
}

.btn--raised {
  border-radius: 1.98px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(circle, #3498db 1%, #75b9e7 15%, transparent 30%);
  background-color: #3498db;
  will-change: box-shadow,background-color;
  color: #fff;
}

.btn--raised:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 4px 15px 0 rgba(0, 0, 0, 0.13);
  background-color: #4aa3df;
}

.btn--flat {
  background-image: radial-gradient(circle, #28e1bd 1%, #6bebd1 15%, transparent 30%);
  background-color: #fcfcfc;
  box-shadow: none;
}

.btn--primary {
  background-image: radial-gradient(circle, #1abc9c 1%, #3ee4c4 15%, transparent 30%);
  background-color: #1abc9c;

  &:hover {
    background-color: #1dd2af;
  }
}

.btn--secondary {
  background-image: radial-gradient(circle, #28e1bd 1%, #6bebd1 15%, transparent 30%);
  background-color: #28e1bd;

  &:hover {
    background-color: #3ee4c4;
  }
}

.btn--pink {
  background-image: radial-gradient(circle, $color-pink 1%, $color-light-pink 15%, transparent 30%);
  background-color: $color-pink;

  &:hover {
    background-color: $color-lighter-pink;
  }
}

.btn--purple {
  background-image: radial-gradient(circle, $color-prpl 1%, $color-pink 15%, transparent 30%);
  background-color: $color-prpl;

  &:hover {
    background-color: $color-light-pink;
  }
}

table {
  border: solid 2px #ebebeb;
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 10px;
  margin-bottom: 40px;
}

thead,
.table-header {
  color: #474747;
  font-size: 16px;
}

tr {
  font-size: 17px;
  will-change: background;

  &:not(.table-header):hover {
    background: #ebebeb;
  }
}

td, th {
  border: solid 1px #ebebeb;
  padding: 5px 15px;

  &:first-child {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 10px;
  }
}

header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $color-prpl;

  h1, h2, h3 {
    color: #fff;
  }
}

.header-margin-bottom {
  margin-bottom: 34px;
}

.card-bottom {
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
}

input {
  &[type=text], &[type=search] {
    margin-bottom: 30px;
    width: $edit-width;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #be9ef2;
    will-change: background-position;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, #be9ef2 90%);
    background-position: -$edit-width 0;
    background-size: $edit-width 100%;
    background-repeat: no-repeat;
    font-size: 18px;
  }

  &[type=text], &[type=search] {
    &:focus, &:valid {
      box-shadow: none;
      outline: 0;
      background-position: 0 0;
    }
  }

  &[type=text], &[type=search] {
    &:focus::-webkit-input-placeholder, &:valid::-webkit-input-placeholder {
      color: #be9ef2;
      font-size: 16px;
      transform: translateY(-30px);
      visibility: visible;
    }
  }

  &[type=text]::-webkit-input-placeholder, &[type=search]::-webkit-input-placeholder {
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
}

.center-align {
  text-align: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

/* Bootstrap grid system */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#menu_toolbar > nav > ul > li {
  &.d-none {
    display: none;
  }

  &.d-block {
    display: block;
  }

  @media (min-width: 576px) {
    &.d-sm-none {
      display: none;
    }
    &.d-sm-block {
      display: block;
    }
  }

  @media (min-width: 768px) {
    &.d-md-none {
      display: none;
    }
    &.d-md-block {
      display: block;
    }
  }

  @media (min-width: 992px) {
    &.d-lg-none {
      display: none;
    }
    &.d-lg-block {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    &.d-xl-none {
      display: none;
    }
    &.d-xl-block {
      display: block;
    }
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
}
  
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
}

/* Bootstrap grid system */

@media screen and (max-width: 1200px) {
  td {
    &:first-child {
      padding-left: 32px;
    }

    &:last-child {
      padding-right: 32px;
    }
  }

  footer {
    margin-top: 18px;
  }

  .card-bottom {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 992px) {
  td {
    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  header {
    padding-bottom: 5px;
  }

  .header-margin-bottom {
    margin-bottom: 8.5px;
  }

  footer {
    margin-top: 8.5px;
  }

  .card-bottom {
    margin-bottom: 8.5px;
  }
}

nav > ol, nav > ul,
amp-sidebar > ol,
amp-sidebar > ul {
  list-style: none;
  margin-left: 20px;
  margin-bottom: 20px;
}

ol li, ul li {
  margin-top: 10px;
}

ol {
  list-style-type: decimal;
}

footer {
  display: block;
  width: 100%;
  background: $color-prpl;
  padding-bottom: 10px;
}

.card.tabs {
  &:first-of-type label {
    border-top-left-radius: 3px;
  }

  &:nth-last-child(2) label {
    border-top-right-radius: 3px;
  }
}

.center {
  margin: 0 auto;
}

code {
  font-family: monospace;
}

figure.highlight {
  margin-bottom: 20px;
}

figure.highlight > pre {
  overflow-x: auto;
}

#cookie-consent-backdrop {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#cookie-consent-ui {
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  position: fixed;
}
#cookie-consent-ui h2 {
  text-align: center;
}
