---
layout: post
title: CAD software developer
date: 2019-02-21 12:00:00
image: gs_dark2.jpg
image_mime: image/jpeg
webp: gs_dark2.webp
alt: Graphisoft logo
category: resume
---
<p>July 2001 &mdash; September 2007, preceded by a summer internship from June 2000 &mdash; September 2000</p>
<p><a href="https://graphisoft.com/solutions/products/archicad">ArchiCAD</a>: multi-platform (Windows and Macintosh) Architectural CAD software localized to 20+ languages</p>
<p>Multi-platform, multi-language large codebase development, front-end development</p>
<p>Architected and developed an in-house GUI designer tool for the specialized internal widget set and resource format of the company</p>
<p>Directed two junior developers</p>
<p>Implemented CAD metric based bottomless in-place RichText editor control</p>
<p>C, C++, Win32, STL, Cocoa, home-brew multi-platform I/O, GUI, 3D and other libraries</p>
<p>Microsoft Visual Studio, XCode, Code Warrior, Perforce, CVS, Enterprise Architect, TestTrack</p>
