---
layout: post
title: Vanderbilt University Medical Center
date: 2019-02-24 12:00:00
image: VUMC-Logo.jpg
image_mime: image/jpeg
webp: VUMC-Logo.webp
alt: VUMC logo
category: resume
---
<p>February 2010 to June 2013</p>
<p>Java enterprise development, record linkage and genomic data protection research, Netezza appliance.</p>
<p>Java, J2EE, EJB, Spring, Hibernate, PostgreSQL, MySQL, GWT, ExtJS, GXT, Maven, JBoss, awk</p>
<p>Eclipse, SVN, GitHub, Linux, Windows</p>
<p>HIPAA & IRB certified</p>
<p>Project: <a href="https://github.com/MrCsabaToth/SOEMPI">SOEMPI</a> (Secure Enterprise Master Patient Index), the related publication focusing on the software won the Homer Warner award at AMIA 2014</p>
<p>Project: <a href="https://github.com/MrCsabaToth/FairplayBI">FairplayBI</a> 2-party SMC (Secure Multi-party Computation) which can handle arbitrarily large integers</p>
<p>Netezza appliance (MPP Massive Parallel Processing appliance) evaluation and use with patient record and genetic data analysis projects</p>
<p>Project: Java implementation of Paillier homomorphic encryption based on UT Dallas code</p>
