---
layout: post
title: Lead Architect at Csaba Consulting services
date: 2019-02-26 12:00:00
image: thruthink.jpg
image_mime: image/jpeg
webp: thruthink.webp
alt: ThruThink logo
category: resume
---
<p>Established in 2014 summer</p>
<p>ThruThink business projection and budgeting (financial investment assesment) software, financial analytics</p>
<p>ASP.NET MVC backend over Azure cloud, HTML5 + CSS + JS + Knockout JS + Bootstrap + JQuery front-end</p>
<p>SpreadSheetGear component use for spreadsheets and calculations</p>
<p>Way to Gold: integrating Amazon In-App Purchase system into a Unity game engine based Android application</p>
<p>FUSD (Fresno Unified School District): Developed an HR assistant software suite, which helped FUSD performing
    tasks with hiring, recruiting employees. ASP.NET MVC platform with Knockout JS.</p>
