---
layout: post
title: Software Enginner at Institute for Software Integrated Systems, Vanderbilt University
date: 2019-02-23 12:00:00
image: VU_square.jpg
image_mime: image/jpeg
webp: VU_square.webp
alt: Vanderbilt logo
category: resume
---
<p>September 2007 to February 2010</p>
<p><a href="http://www.isis.vanderbilt.edu/Projects/gme/">GME</a> Generic modeler and meta-modeler CAD software, open source</p>
<p>Lead developer / maintainer after September 2008.</p>
<p>OCL correctness proofing and correctness proofing and code generation capabilities</p>
<p>Used for distributed embedded system projects, aviation and motor industry, classified projects and more</p>
<p>Technologies: C, C++, ATL, MFC, COM, STL, Java, Eclipse, OSGi framework, Eclipse plug-in</p>
<p>Tools: Microsoft Visual Studio, SVN, CVS, JIRA, ArgoUML, Windows XP / Vista / 7</p>
<p>GME - Improved UI look and feel, added docking and toolbars using MFC Feature Pack</p>
<p>GME - Leveraged GDI+ to enable gradient fills, anti-aliasing, and vector graphics in CAD plan windows</p>
<p>GME - features, such as bottomless in-place editing and resizability of graphical elements</p>
<p>GME - Migrating GME CAD software into Eclipse as an Eclipse plug-in</p>
