---
layout: post
title: Software consultant for Universito of Alabama Birmingham
date: 2019-02-22 12:00:00
image: uab-logo-png-transparent.jpg
image_mime: image/jpeg
webp: uab-logo-png-transparent.webp
alt: UAB logo
category: resume
---
<p>August 2007 to July 2009</p>
<p>MRI data analysis software for identifying cardiac infracts</p>
<p>Implemented multi-threading capable, XML configurable, high-speed core in C/C++</p>
<p>Provided 250x+ speedup (few minutes runtime instead of 24 hours)</p>
<p>Implemented WinForms (.NET) based GUI written in C#</p>
<p>T1, T2, T2* type MRI image analysis</p>
