---
layout: post
title: Avid Community Tech Leader
date: 2019-02-28 12:00:00
image: GDG_logo.jpg
image_mime: image/jpeg
webp: GDG_logo.webp
alt: GDG Logo
category: resume
---
<p><a href="https://www.meetup.com/nashvillejug/">Nashville Java User Group</a> co-founder
    (2010 February, with Greg Turnquist from Spring Source)</p>
<p><a href="https://gdgfresno.com/">GDG Fresno lead and Women Techmakers Fresno ambassador</a> since 2016 April</p>
<p><a href="https://www.meetup.com/Central-California-NET-User-Group/">Central California .NET User Group</a> co-organizer</p>
<p>Ex-secretary of <a href="https://www.meetup.com/Nashville-NET-User-Group/">Nashville .NET User Group</a></p>
<p>Founding donator of <a href="https://rootaccess.org/">Root Access Hackerspace</a>, member of: <a href="https://www.meetup.com/Fresno-Data-Science-Meetup/">
    Fresno Data Science Meetup</a>, NLUG (Nashville Linux User Group), FOSUG (Fresno Open Source User Group),
    co-founder of <a href="https://www.facebook.com/groups/601724680225482">Central California Java User Group</a>
</p>
