---
layout: post
title: Tech Lead / Team Lead at SportsBoard Athlete Assessment Platform
date: 2019-02-27 12:00:00
image: sportsboard_logo.jpg
image_mime: image/jpeg
webp: sportsboard_logo.webp
alt: SportsBoard logo
category: resume
---
<p>Joined Apr 2015 and became lead in November 2017</p>
<p>Sport assessment, analytics, and recruiting software</p>
<p>Managed a full remote team of full stack and mobile app engineers</p>
<p>Python/Django development, REST API iOS client</p>
<p>AWS, Linode, MySQL, PyCharm, nginx</p>
<p>HTML5, CSS, JS, Bootstrap, jQuery</p>
