---
layout: post
title: Decade Software Company
date: 2019-02-25 12:00:00
image: decade1.jpg
image_mime: image/jpeg
webp: decade1.webp
alt: Decade logo
category: resume
---
<p>October 2012 to April 2014</p>
<p>Developer of an Environmental Health Software</p>
<p>C#, .NET desktop application with companion mobbile app</p>
<p>Visual Studio IDE, Microsoft Team Foundation Services, MS SQL Server</p>
<p>IdeaBlade, Unity, Moq, nUnit, xUnit, NSubstitute, FluentAssertions</p>
<p>WPF, Cliburn.Micro, MEF, Reactive Extensions, WinForms</p>
<p>Agile, Scrum methodology</p>
<p>Crystal Report, Microsoft Reporting Services</p>
