---
layout: post
title: Universal Software Engineer
date: 2019-02-29 12:00:00
image: F0568_square.jpg
image_mime: image/jpeg
webp: F0568_square.webp
alt: portrait
category: resume
---
<p>Remote developer team lead at <a href="https://app.sportsboard.io/">SportsBoard Athlete Assessment Platform</a></p>
<p>Lead architect at <a href="https://app.thruthink.com/">ThruThink Business Projection</a></p>
<p>Residing in the California Central Valley (Fresno), working remotely</p>
<p>Software consultancy services in my <a href="/">competency areas</a></p>
<p>Tech community lead and co-organizer (Google Developer Group Fresno lead, Woman Techmakers Fresno ambassador)</p>
