---
layout: post
title: Python / Django analytics software suite
date: 2019-04-25 12:00:00
image: python-django.png
image_mime: image/png
webp: python-django.webp
alt: Python Django logos
category: featurette
---
<p>Sport analytics startup</p>
<p>MySQL backend over AWS and Linode</p>
<p>REST API, responsive design front-end</p>
<p>iOS Companion apps</p>
<p>Leaderboards, digital evaluations, recruiting solutions</p>
<p><a href="https://app.sportsboard.io">SportsBoard</a></p>
