---
layout: post
title: Web Applications
date: 2019-04-21 12:00:00
image: HTML5-CSS3-JS.png
image_mime: image/png
webp: HTML5-CSS3-JS.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>Visualizations of data analytics</p>
<p>Progressive Web Apps, web components and Polymer
  (<a href="https://valleydevfest.com/">Valley DevFest</a>, <a href="https://iwd.wtmfresno.com/">IWDC</a> for years 2016-2020)</p>
<p>Angular conference websites</p>
<p>Emerging technologies like React, newer versions of JavaScript</p>
