---
layout: post
title: CAD software engineering
date: 2019-04-19 12:00:00
image: vs_01.png
image_mime: image/png
webp: vs_01.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>C/C++, Windows and Mac OS platforms</p>
<p>Multi-platform architectural CAD software: <a href="http://www.graphisoft.com/archicad/">ArchiCAD</a></p>
<p>Generic Modeling Environment: <a href="http://www.isis.vanderbilt.edu/Projects/gme/">GME</a></p>
