---
layout: post
title: .NET / C# financial analytics software
date: 2019-04-24 12:00:00
image: vs_kb.png
image_mime: image/png
webp: vs_kb.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>Azure cloud back-end</p>
<p>Excel integration with SpreadSheetGear</p>
<p>Business projections and budgeting</p>
<p><a href="https://app.thruthink.com">ThruThink</a></p>
