---
layout: post
title: Software Engineering
date: 2019-04-27 12:00:00
image: vs_tips.png
image_mime: image/png
webp: vs_tips.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>Web software front-end and back-end, cloud, mobile, desktop software development.</p>
<p>Amazon AWS, Microsoft Azure, Google Cloud Platform</p>
<p>Python / Django, JavaScript, C# / .NET</p>
<p>Android mobile app development (Java and Kotlin) and multi-platofrm app development with Flutter</p>
<p>AR/VR websites and applications</p>
<p>Linux, Windows and Mac OS, operating systems</p>
<p>Tech meetup lead</p>
<p>Multiple startups</p>
<p>Java, C/C++ past experience</p>
