---
layout: post
title: All major ecosystems, cloud architectures and design
date: 2019-04-26 12:00:00
image: vs_bikes.png
image_mime: image/png
webp: vs_bikes.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>Python / Django</p>
<p>.NET, C#, ASP.NET, Azure, Microsoft</p>
<p>Amazon AWS cloud solutions and Google Cloud Platform</p>
<p>Flutter and Android mobbile applications, Firebase</p>
<p>Java, Spring, Oracle</p>
