---
layout: post
title: Machine Learning, Gen AI
date: 2019-04-28 12:00:00
image: ai_ml.png
image_mime: image/png
webp: ai_ml.webp
alt: AI Artwork
category: featurette
---
<p>Machine Learning, Data Science, Generative AI, multi modality, LLMs, Vector Databases, RAG.</p>
<p>
  Some example projects:
  <ul>
    <li>
      <a href="https://devpost.com/software/eco-trivia-q3rcdk">Eco Trivia Quiz Application
      (with integrated chat agent options) to experiment with low-code / no-code solutions
      both on the front-end (FlutterFlow + Rive animations) and the back-end (Google Agent Builder with RAG).</a>
      <a href="https://github.com/gdgfresno/EcoTriviaApplication">Source code reporitories</a>.
    </li>
    <li>
      <a href="https://devpost.com/software/eco-oracle">Chat agent experimenting with Google Agent Builder
      no-code platform supported by RAG (Retrieval Augmented Generation)</a>
      <a href="https://ecooraclechat.streamlit.app/">Streamlit front-end source code</a>.
    </li>
    <li>
      <a href="https://lablab.ai/event/cohere-coral-hackathon/thruthink/rag-fusion-with-cohere-and-weaviate">LLM Knowledge agent
      with RAG Fusion</a> using <a href="https://docs.cohere.com/docs/chat-api">Cohere chat and Command R model</a>,
      document guided and web connector guided agents, <a href="https://weaviate.io/">Weaviate services</a> and
      <a href="https://docs.cohere.com/docs/chat-on-langchain">LangChain</a>.
      <a href="https://github.com/CsabaConsulting/Cohere">Related source code</a>.
    </li>
    <li>
      <a href="https://lablab.ai/event/rag-llms-with-your-data/thruthink/qna-boosted-rag-with-vectara">
      QBRAG (QnA Boosted RAG) Knowledge LLM agent on Vectara platform (embedding, vector database, ranking, etc.),
      and using <a href="https://www.anyscale.com/">AnyScale (for LLM hosting, fine tuning)</a>, and React for front-end</a>,
      also contributing to
      <a href="https://github.com/nestordemeure/question_extractor">question_extractor</a> open source semantic chunking
      and Q&A generator project.
      <a href="https://github.com/CsabaConsulting/Vectara">Related source code</a>.
    </li>
    <li>
      <a href="/blog/odsc-west-data-science-conference-aix-innovation-summit-multi-modal-hackathon.html">
      GeMMAA (Generative Multi Modal Augmented Reality Art) application by AIWeavers for Multi Modal hackathon
      by Weaviate at AIx Innovation Summit</a>.
      <a href="https://github.com/CsabaConsulting/ODSCWest">Related back-end source code</a>.
    </li>
    <li>
      <a href="/blog/intel-innovation-2023-conference-generative-ai-hackathons-and-challenges.html">
      Knowledge LLM agent with RAG utilizing low-code / no-code cnvrg LLMaaS platform</a>
      <a href="https://github.com/CsabaConsulting/IntelInnovate2023">Limited source code due to confidentiality</a>.
    </li>
    <li>
      <a href="/blog/intel-innovation-2023-conference-generative-ai-hackathons-and-challenges.html">
      Gen AI multimodal Rock Star Challenge: Song "Xeon Fury" of the band "Nerdcore Annihilation"</a>
      <a href="https://github.com/MrCsabaToth/GenAIRockStarChallenge2023">Asset snippets</a>.
    </li>
    <li>
      <a href="/blog/personalization-is-what-i-missed-at-samsung-next-gen-ai-multi-modal-hackathon.html">
      Multi Modal Generative AI Travel blog helper app for the Samsung Next Gen AI hackathon</a>
      <a href="https://github.com/CsabaConsulting/NextGenAI">Back-end code</a>.
    </li>
  </ul>
</p>
<p>Semantic chunking, QnA generation, fine tuning</p>
<p>Retrieval Augmented Generation</p>
<p>Prompt Engineering, LLM Red Teaming</p>
<p>Multi-Modal models</p>
<p>Agentic workflows</p>
