---
layout: post
title: Java Software Development
date: 2019-04-20 12:00:00
image: java_duke.png
image_mime: image/png
webp: java_duke.webp
alt: Java and Duke logos
category: featurette
---
<p>Java Enterprise applications, Spring framework, Hibernate, GWT (Google Web Toolkit)</p>
<p>Privacy preserving record linkage tool using state-of-the-art technologies:
  <a href="https://github.com/MrCsabaToth/SOEMPI">SOEMPI</a>
  (the related publication focusing on the software won the Homer Warner award at AMIA 2014)
</p>
<p>Secure Multi-party Computation software:
  <a href="https://github.com/MrCsabaToth/FairplayBI">FairplayBI</a>
</p>
<p>
  Java implementation of Paillier homomorphic encryption based on UT Dallas code
</p>
