---
layout: post
title: Flutter, Android, and multi-platform mobile applications
date: 2019-04-23 12:00:00
image: vs2015skus.png
image_mime: image/png
webp: vs2015skus.webp
alt: Visual Studio Theme Artwork
category: featurette
---
<p>Flutter application for recording workouts on smart trainers via Bluetooth LE connection. Strava, Under Armour,  and other integrations:
  <a href="https://play.google.com/store/apps/details?id=dev.csaba.track_my_indoor_exercise">Track My Indoor Workout</a>
</p>
<p>Multi-platform (Android, Web, Desktop) game with Google Play integration:
  <a href="https://play.google.com/store/apps/details?id=com.dealoround.android">Deal-O-Round</a>
</p>
<p>Conference companion Android app:
  <a href="https://play.google.com/store/apps/details?id=com.valleydevfest.androidify">Valley DevFest 2017</a>
</p>
