---
layout: post
title: Virtual Reality and Augmented Reality applications
date: 2019-04-23 12:00:00
image: arvr.png
image_mime: image/png
webp: arvr.webp
alt: ARCore and Cardboard VR logo
category: featurette
---
<p>
  Indoor and outdoor native Augmented Reality experiences:
  <ul>
    <li>
      Augemnted reality map using <a href="https://developers.google.com/ar/develop/geospatial">Geospatial API</a> and
      <a href="https://developers.google.com/ar/develop/java/geospatial/terrain-anchors">Terrain Anchors</a>
      to help CSU Fresno students find recycling trash can locations on campus:
      <a href="https://play.google.com/store/apps/details?id=dev.csaba.armap.recyclingtrashcans">Android app</a>,
      <a href="https://recyclingtrashcans.github.io/">360 VR companion website</a>,
      <a href="/blog/geospatial-api-with-terrain-anchors-for-augmented-reality-maps.html">blog post</a>.
    </li>
    <li>
      Tree Walk <a href="https://developers.google.com/ar/develop/geospatial">Geospatial API</a> Augmented Reality application
      to help CSU Fresno visitors guide along a redesigned tree walk featuring indigenious and drought tolerant species on campus:
      <a href="https://play.google.com/store/apps/details?id=dev.csaba.armap.treewalk">Android app</a>,
      <a href="https://treewalks.github.io/">360 VR companion website</a>,
      <a href="/blog/google-maps-hackathon-prize-win-and-a-new-ar-tree-walk-guide.html">blog post</a>.
    </li>
    <li>
      <a href="https://play.google.com/store/apps/details?id=dev.csaba.arphysics">
      Tunable physics simulations integrated into an Augmented Reality game with KEVA planks to provide a unique fun experience</a>,
      uses <a href="https://developers.google.com/sceneform/develop">Sceneform SDK</a> &
      <a href="https://developers.google.com/ar">ARCore</a>.
    </li>
    <li>
      <a href="https://play.google.com/store/apps/details?id=com.valleydevfest.armap">
      Indoor augmented reality map to help tech conference attendees to orientate between venue session locations</a>,
      uses <a href="https://developers.google.com/sceneform/develop">Sceneform SDK</a> &
      <a href="https://developers.google.com/ar">ARCore</a>.
    </li>
  </ul>
</p>
<p>
  360 VR websites about events and life experiences:
  <ul>
    <li>
      <a href="https://metastoreopening.github.io/">Meta Store opening event.</a>
    </li>
    <li>
      <a href="https://gdgfresno.github.io/googletrip2019/">
        Joint GDG Fresno + TFC's (The Fresno Center) trip to Googleplex Mountain View and Computer History Museumm.
      </a>
    </li>
    <li>
      <a href="https://csabaconsulting.github.io/HalfDome360/">
        Hiking the Half Dome and stuck in Yosemite in 2019.
      </a>
    </li>
    <li>
      <a href="https://gdgfresno.github.io/GoogleTrip2018/">
        joint GDG Fresno + EOC's (Economic Opportunities Commission Fresno) trip to Googleplex Mountain View and Computer History Museum.
      </a>
    </li>
    <li>
      <a href="https://sportsboard.github.io/ABCA2017/">
        SportsBoard's 2017 visit to the ABCA (American Baseball Coaches Association) in Anaheim.
      </a>
    </li>
    <li>
      <a href="https://gdgfresno.github.io/BWSS360tour/">
        Tour of the Bitwise South Stadium conference venue.
      </a>
    </li>
  </ul>
</p>
