---
layout: default
has_carousel: false
pagination: 
  enabled: true
  category: blog
  permalink: /:num/
redirect_from:
  - /blog/
---

<div class="row">
  <div id="upper_pager_toolbar" class="center"></div>
</div>

{% for blog in paginator.posts %}
  <article class="card card-bottom row" role="article">
    <a href="{{blog.url}}">
      <div class="col-lg-12">
        <h2>{{ blog.title }}</h2>
      </div>
      <div class="subtitle col-lg-12">
        <h3>{{ blog.date | date: "%b %-d, %Y" }}{% if blog.author %} • {{ blog.author }}{% endif %}{% if blog.meta %} • {{ blog.meta }}{% endif %}</h4>
      </div>
      <div class="col-lg-12">
        <h4>{{ blog.teaser }}</h4>
      </div>
    </a>
  </article>
{% endfor %}

<div class="row">
  <div id="lower_pager_toolbar" class="center"></div>
</div>

<amp-sidebar id="upper_pager_menu" layout="nodisplay">
  <nav toolbar="(min-width: 0px)" toolbar-target="upper_pager_toolbar">
    {% if paginator.page_trail %}
      <ul>
        {% if paginator.page > 2 %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.first_page_path }}" aria-label="First page">&lt;&lt;</a>
          </li>
        {% endif %}

        {% if paginator.previous_page %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.previous_page_path }}" aria-label="Previous page">&lt;</a>
          </li>
        {% endif %}

        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li>
              {% if paginator.page == trail.num %}
                <a class="btn btn--pink" href="#" aria-label="Current page">{{ trail.num }}</a>
              {% else %}
                <a class="btn btn--purple" href="{{ trail.path }}" aria-label="{{ trail.title }}">{{ trail.num }}</a>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
          <li class="next">
            <a class="btn btn--purple" href="{{ paginator.next_page_path }}" aria-label="Next page">&gt;</a>
          </li>
        {% endif %}

        {% assign notNearEnd = paginator.page | plus:1 %}
        {% if notNearEnd < paginator.total_pages %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.last_page_path }}" aria-label="Last page">&gt;&gt;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</amp-sidebar>

<amp-sidebar id="lower_pager_menu" layout="nodisplay">
  <nav toolbar="(min-width: 0px)" toolbar-target="lower_pager_toolbar">
    {% if paginator.page_trail %}
      <ul>
        {% if paginator.page > 2 %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.first_page_path }}" aria-label="First page">&lt;&lt;</a>
          </li>
        {% endif %}

        {% if paginator.previous_page %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.previous_page_path }}" aria-label="Previous page">&lt;</a>
          </li>
        {% endif %}

        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li>
              {% if paginator.page == trail.num %}
                <a class="btn btn--pink" href="#" aria-label="Current page">{{ trail.num }}</a>
              {% else %}
                <a class="btn btn--purple" href="{{ trail.path }}" aria-label="{{ trail.title }}">{{ trail.num }}</a>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
          <li class="next">
            <a class="btn btn--purple" href="{{ paginator.next_page_path }}" aria-label="Next page">&gt;</a>
          </li>
        {% endif %}

        {% assign notNearEnd = paginator.page | plus:1 %}
        {% if notNearEnd < paginator.total_pages %}
          <li class="previous">
            <a class="btn btn--purple" href="{{ paginator.last_page_path }}" aria-label="Last page">&gt;&gt;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</amp-sidebar>
