---
layout: compress
---
<!doctype html>
<html ⚡ lang="en">

  {% include head.html %}

  <body id="page_top">
    <amp-analytics data-block-on-consent type="gtag" data-credentials="include">
      <script type="application/json">
        {
          "vars" : {
            "gtag_id": "{{ site.ga4 }}",
            "config" : {
              "{{ site.ga4 }}": { "groups": "default" }
            }
          }
        }
      </script>
    </amp-analytics>

    {% include navbar.html %}

    <main class="container" role="main">
      {% if page.has_carousel %}
        {% include carousel.html %}
      {% endif %}

      {{ content }}

      {% if page.comments %}
      <div id="disqus_thread">
        <amp-iframe data-block-on-consent width=600 height=140
          layout="responsive"
          sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
          resizable
          src="https://csabadisqus.github.io/amp#{{ page.page_id }}"
          title="Disqus comment section"
        >
          <div overflow
            tabindex=0
            role=button
            aria-label="Load more"
            style="display:block;font-size:12px;font-weight:500;font-family:Roboto, sans-serif;text-align:center;line-height:1.1;padding:12px 16px;border-radius:4px;background:rgba(29,47,58,0.6);color:white"
            placeholder
          >
            Comments loading...
          </div>
        </amp-iframe>

        <noscript>JavaScript is required to view 
          <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
      {% endif %}
    </main>

    {% include footer.html %}

    <amp-consent layout="nodisplay" id="cookie-consent-element">
      <script type="application/json">
      {
        "consentInstanceId": "cookie-consent",
        "consentRequired": true,
        "promptUI": "cookie-consent-ui-lightbox"
      }
      </script>
      <amp-lightbox id="cookie-consent-ui-lightbox" layout="nodisplay" tabindex="-1">
        <div id="cookie-consent-ui" class="card col-lg-6 col-md-8 col-sm-10 col-11" aria-labelledby="cookie-consent-title" role="dialog">
          <h2 id="cookie-consent-title">Cookie Consent</h2>
          <ul>
            <li>
              <a href="https://www.cloudflare.com/privacypolicy/" target="_blank" rel="noopener noreferrer">CloudFlare</a>:
              <em>__cfduid</em>
              &mdash; Being CloudFlare protected site: this <em>cannot be turned off!</em>
            </li>
            <li>
              <a href="https://stackoverflow.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer">StackExchange</a>:
              <em>prov</em>
              &mdash; Cookie is set <em>if and only if</em> you click on the StackOverflow flair or icon.
            </li>
            <li>
              <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Google Analytics</a>:
              <em>__ga</em>
              &mdash; <em>Optional cookie</em>.
              When accepted <a href="https://www.vertical-leap.uk/blog/google-signals-in-analytics-what-is-it-and-should-you-do-it/">the GDPR compliant Google signals is utilized</a>.
            </li>
            <li>
              <a href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy" target="_blank" rel="noopener noreferrer">Disqus</a>:
              <em>disqusauth, disqusauths, sessionid, disqus_unique, G_ENABLED_IDPS, G_AUTHUSER_H</em>
              &mdash; <em>Optional cookies</em>, but needed for the post commenting feature.
            </li>
          </ul>
          <div class="col-xl-12">
            <button type="button" id="accept" on="tap:cookie-consent-element.accept" class="btn--primary" role="button">Accept</button>
            <button type="button" id="reject" on="tap:cookie-consent-element.reject" class="btn--secondary" role="button">Reject</button>
          </div>
        </div>
        <div id="cookie-consent-backdrop" tabindex="-1">
        </div>
      </amp-lightbox>
    </amp-consent>

    <amp-install-serviceworker src="https://csaba.page/sw.js" layout="nodisplay"></amp-install-serviceworker>
  </body>
</html>
