---
layout: default
has_carousel: false
---

<article class="card" role="article">
  <div class="col-lg-12">
    <h1>{{ page.title }}</h1>
  </div>  
  <div class="subtitle col-lg-12">
    <h2>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
  </div>

  <div class="col-lg-12">
    {{ content }}
  </div>
</article>
